<div class="container">

  <div class="contenedor-botones">
    <div class="boton-numero" >
      <img src="/assets/colors/red.png" alt="">
    </div>
    <div class="boton-numero" >
      <img src="/assets/colors/blue.png" alt="">
    </div>
    <div class="boton-numero" >
      <img src="/assets/colors/black.png" alt="">
    </div>
    <div class="boton-numero" >
      <img src="/assets/colors/pink.png" alt="">
    </div>
    <div class="boton-numero grid-final" >
      <img src="/assets/colors/green.png" alt="">
    </div>
  </div>
  
</div> 
