<div class="container">

  <div class="contenedor-botones">
    <div class="boton-numero" >
      <img src="/assets/animals/cow.png" alt="">
    </div>
    <div class="boton-numero" >
      <img src="/assets/animals/dog.png" alt="">
    </div>
    <div class="boton-numero" >
      <img src="/assets/animals/cat.png" alt="">
    </div>
    <div class="boton-numero" >
      <img src="/assets/animals/horse.png" alt="">
    </div>
    <div class="boton-numero grid-final" >
      <img src="/assets/animals/turtle.png" alt="">
    </div>
  </div>
  
</div> 