<ion-header>
  <ion-toolbar class="ion-text-center" color="warning">
    <ion-title>Tabla Didáctica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-image">

    <div class="ion-text-center ion-margin-top">
      <ion-button shape="circle" color="warning">
        <img src="assets/images/boy.png"/>
      </ion-button>
      <ion-button shape="circle" color="warning">
        <img src="assets/images/childs.png"/>
      </ion-button>
      <ion-button shape="circle" color="warning">
        <img src="assets/images/boy2.png"/>
      </ion-button>
    </div>

    <div class="ion-text-center ion-margin-top">
      <ion-button shape="circle" color="warning">
        <img src="assets/images/girl.png"/>
      </ion-button>
      <ion-button shape="circle" color="warning">
        <img src="assets/images/girl2.png"/>
      </ion-button>
    </div>

    <div class="ion-text-center ion-margin-top">
      <ion-button shape="circle" color="light">
        <img src="assets/images/admin.png"/>
      </ion-button>
    </div>      
    
    <ion-item class="ion-margin-top">
      <ion-input type="email" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="Contraseña"></ion-input>
    </ion-item>
    <div class="ion-text-center ion-margin-top">
      <ion-button expand="block" color="dark">Ingresar</ion-button>
    </div>

  </div>

</ion-content>
